

.rd-title{
  font-weight: 800;
  font-size: 40px;
  text-shadow: 2px 3px 8px rgb(81, 79, 79);
  color: rgb(255, 255, 255);
  height: 100px;
  background-color: chartreuse;
  width: 50%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 15px;
}


