#root{
  background-color: #F0F2F5;
}
.app-container{
  display: flex;
}
.content{
  width: 100%;
}

.sidebar{
  min-height: 100vh;
  position: sticky;
}
.post_list_container{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card{
  margin: .5rem;
  min-height: 12rem !important;
  background-color: #FFFFFF !important;
  padding: 1rem;
}
.post_insites{
  display: flex;
  justify-content: space-around;
  
}

.tag{
  display: flex;
  margin: 0 3px;
  width: fit-content;
}
.like{
  font-size: small;
}


.creat_post{
  width: 80%;
  margin-left: 10%;
  margin-top: 60px;
}